* {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0;
}

.game-container {
  padding: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.root {
  display: flex;
  flex-direction: column;
}
.game {
  display: flex;
  flex-direction: row;
}
.history {
  margin-left: 20px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2196f3; /* Material Design primary color */
  color: white;
  height: 3.75rem;
  padding: 12px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.02rem;
}

.top-bar-buttons {
  display: flex;
  align-items: center;
}

.circle-button {
  border: none;
  padding: 0px;
  display: flex;
  background-color: transparent;
  padding: 4px;
}

.circle-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
